<!-- Partes que siempre aparecen en el navbar -->
<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 1) { %> 
  <%- include('includes/sideMentorados.ejs') %>
  <% } %>
<% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 2) { %> 
  <%- include('includes/sideAgregarE.ejs') %>
  <% } %>
<% } %>

<!-- Final de la nav-->
<%- include('includes/sidenavFin.ejs') %>

<body>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
        integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class='container' style=" width: 90%; text-align: justify;">

        <div>
            <br>
            <h3 style="text-align:justify; font-size:x-large;"><a href="/miChapter"
                    style="text-decoration:none; color:rgb(72, 72, 206)">Mi chapter</a><strong> - Agregar
                    Mentor</strong></h3>
            <hr class="style17">
        </div>

        <br><br>
        <div class="container" style=" width: 70%;">
            <br><br>
            <div class="col-sm-12">
                <div class="card">
                    <h5 class="card-header" style="font-size: larger;"><i class="bi bi-person-plus-fill"></i></i> Datos
                        del nuevo
                        Mentor</h5>
                </div>
                <div class="card-body">
                    <!--Para tabla con boostrap-->
                    <table class="table">
                        <tbody>
                            <form id="agregarNuevoMentor" method="post" enctype="multipart/form-data">
                    
                                <tr>
                                    <style>
                                        td {
                    
                                            text-align: center;
                                            vertical-align: middle;
                                        }
                                    </style>
                    
                                    <th scope="row">Nombre mentor: </th>
                                    <td>
                    
                                        <select id="mentor" name="mentor" class="selectpicker" data-live-search="true"
                                            title="Selecciona al nuevo mentor" data-width="100%" required>
                                            <% for (let mentor of noMentores) { %>
                                                <option value="<%= mentor.idEmpleado %>">
                                                    <%= mentor.nombre%>
                                                        <%= mentor.apellidoP%>
                                                            <%= mentor.apellidoM%>
                                                </option>
                                                <% } %>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                    
                                    <th scope="row">Mentorados asignables: </th>
                                    <td>
                    
                                        <div id = "mentorados"></div>
                                         <!-- <select id="mentoradosSelect" name="mentorados" class="selectpicker" multiple data-live-search="true"
                                            title="Selecciona uno o varios mentorados" data-width="100%" required>                                            <!-- <% for (let mentorado of noMentorados) { %>
                                                 <option value="<%= mentorado.idEmpleado %>">
                                                    <%= mentorado.nombre%>
                                                        <%= mentorado.apellidoP%>
                                                            <%= mentorado.apellidoM%>
                                                </option>
                                                <% } %> 
                                        </select> -->
                                    </div>
                    
                                        </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                    
                                    <td>
                                        <a href="/miChapter" class="btn btn-secondary">Atrás</a>
                                    </td>
                    
                                    <td>
                    
                                        <input type="submit" value="Guardar cambios" class="btn btn-dark" />
                    
                    
                                    </td>
                                </tr>
                            </form>
                    
                    
                        </tbody>
                    </table>

            <script src="https://code.jquery.com/jquery-1.10.2.js"></script>   
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            
            <script>
                const accion_asincrona = () => {
                  const mentor = document.getElementById("mentor").value;

                  //función que manda la petición asíncrona
                  fetch('/miChapter/mentorSeleccionado/'+ mentor, {
                    method: 'GET',
                    headers: {
                      'Content-Type': 'application/json',
                      //'}csrf-token': csrf
                    }
                    //body: JSON.stringify(data)
                  }).then(result => {
                    console.log(result)
                    return result.json(); //Regresa otra promesa
                    //No jala la data
                  }).then(data => {
                    //Modificamos el DOM de nuestra página de acuerdo a los datos de la segunda promesa
                    //console.log(data);

                    var respuesta = '';

                    // respuesta +=  ' <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"'+
                    //                '     integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">'+
                    //                ' <link rel="stylesheet"'+
                    //                '     href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"'+
                    //                '     integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q=="'+
                    //                '     crossorigin="anonymous" referrerpolicy="no-referrer" />';  
                                   
                    respuesta+= ' <select class="form-select" id="mentorados" name="mentorados" '+
                                            'title="Selecciona uno o varios mentorados" data-width="100%" required>   '     

                        for (let mentorado of data) {
                
                        if(mentorado.apellidoM == null){
                        respuesta +=   '<option value="' + mentorado.idEmpleado +'">' +
                                        mentorado.nombre +' '+ mentorado.apellidoP + ' '+ 
                                        '</option>';
                        }else{
                        respuesta += '<option value="' + mentorado.idEmpleado +'">' +
                                    mentorado.nombre +' '+ mentorado.apellidoP + ' '+  mentorado.apellidoM +
                                    '</option>';
                        }
                    }
                     
                    
                    respuesta += '</select>'
            
                    //AJAX para filtrar empleados
                    document.getElementById('mentorados').innerHTML = respuesta;
            
                    //De aquí sale el error
                  }).catch(err => {
                    console.log(err);
                  });
                };
            
                document.getElementById('mentor').onchange = accion_asincrona;
              </script>
  </div>
    </div>
    </div>
    </div>


<!--Agregué footer aquí porque por alguna extraña razón no quiere jalar con las librerías del foot-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js" integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</div>
</div>
</div>
<style>
    footer {
       /* background-color: rgba(34, 30, 32); */
       position: relative;
       bottom: 0;
       width: 100%;
       text-align: center;
       height: 80px;
       color: white;
    }
 </style>
 
 <footer class="page-footer bg-dark">
    <div class="container">
       <div class="footer-copyright">
          <br>
          © Powered by Dynamic Tech
       </div>
    </div>
 </footer>

</body>
