<!------------------- Navbar -------------------->
<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i = 0; i < rolesA.length; i++) {  %>
<% if (rolesA[i].idPrivilegio == 1) { %>
<%- include('includes/sideMentorados.ejs') %>
<% } %>
<% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i = 0; i < rolesA.length; i++) {  %>
<% if (rolesA[i].idPrivilegio == 2) { %>
<%- include('includes/sideAgregarE.ejs') %>
<% } %>
<% } %>

<!---------------- Fin Navbar -------------------->
<%- include('includes/sidenavFin.ejs') %>

<body>
   <div class="space">
      <div class="sticky-top bwhite">
         <br>
         <% if (self == '') {%>
         <h5><a href="./miFeedback">Mi Feedback</a> - Retroalimentaci贸n (<%= solicitud[0].NombrePeriodo %>
            <%= solicitud[0].anio %>) - <%= solicitud[0].nombre %> <%= solicitud[0].apellidoP %></h5>
         <% } else {%>
         <h5><a href="#">Feedback de <%= nombre_empleado %> <%= apellido_empleado %></a> - Retroalimentaci贸n
            (<%= solicitud[0].NombrePeriodo %>
            <%= solicitud[0].anio %>) - <%= solicitud[0].nombre %>
            <%= solicitud[0].apellidoP %>
         </h5>
         <% } %>
         <hr class="style17">
      </div>

      <div class="row content-center">
         <% if (self=='' ) {%>
         <div class="col-auto">
            <h3><strong> Recolecci贸n de Feedback </strong></h3>
         </div>
         <% } else {%>
         <div class="col-auto">
            <h3><strong>Recolecci贸n de Feedback de </strong> - <%= nombre_empleado %>
               <%= apellido_empleado %>
            </h3>
         </div>
         <% } %>
         <div class="col-auto">
            <p><i>Respondida por: <%= solicitud[0].nombre %> <%= solicitud[0].apellidoP %></i></p>
         </div>
      </div><br>

      <!-- ! Seccion donde vemos los cuestionarios -->

      <h4>Craft - Nivel <%= niveles[0].nivelP %></h4>
      <% for (let pregunta of craft) { %>
      <div class="space2">
         <h5><%= pregunta.pregunta %></h5>

         <% if (pregunta.idTipo == 1) { %>
         <% for( let i = 1; i <= 5; i++ ) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>"  disabled/>
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> <%= i %> </label>
         </div>
         <% } %>
         <% } else { %>
         <div class="form-floating">
            <textarea disabled class="form-control" id="floatingTextarea"
               style="height: 100px; background-color:#F5F5F5;"><%= pregunta.respuesta %></textarea>
            <label for="floatingTextarea">Respuesta:</label>
         </div>
         <% } %>
      </div>
      <% } %>
      <br>

      <h4>People & Business - Nivel <%= niveles[1].nivelP %></h4>
      <% for (let pregunta of people) { %>
      <div class="space2">
         <h6><%= pregunta.pregunta %></h6>

         <% if (pregunta.idTipo == 1) { %>
         <% if (pregunta.respuesta == 1) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 1 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 1 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 2) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 2 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 2 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 3) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 3 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 3 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 4) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 4 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 4 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 5) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 5 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 5 </label>
         </div>
         <% } %>

         <% } else { %>
         <div class="form-floating space2">
            <textarea disabled class="form-control" id="floatingTextarea"
               style="height: 100px; background-color:#F5F5F5;"><%= pregunta.respuesta %></textarea>
            <label for="floatingTextarea">Respuesta:</label>
         </div>
         <% } %>
      </div>
      <% } %>
      <br>

      <h4>Commercial & Costumer - Nivel <%= niveles[2].nivelP %></h4>
      <% for (let pregunta of business) { %>
      <div class="space2">
         <h6><%= pregunta.pregunta %></h6>

         <% if (pregunta.idTipo == 1) { %>
         <% if (pregunta.respuesta == 1) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 1 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 1 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 2) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 2 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 2 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 3) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 3 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 3 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 4) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 4 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 4 </label>
         </div>
         <% } %>

         <% if (pregunta.respuesta == 5) { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" checked />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 5 </label>
         </div>
         <% } else { %>
         <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="flexRadioDisabled<%= pregunta.idPregunta %>"
               id="<%= pregunta.idPregunta %>" disabled />
            <label class="form-check-label" for="<%= pregunta.idPregunta %>"> 5 </label>
         </div>
         <% } %>

         <% } else { %>
         <div class="form-floating">
            <textarea disabled class="form-control" id="floatingTextarea"
               style="height: 100px; background-color:#F5F5F5;"><%= pregunta.respuesta %></textarea>
            <label for="floatingTextarea">Respuesta:</label>
         </div>
         <% } %>
      </div>
      <% } %>
      <br>
      <div class="d-flex justify-content-end">

         <% if (self == '') {%>
         <a href="./miFeedback" id="regresar" name="regresar" class="btn btn-dark"> Regresar </a>
         <% } else{%>
         <% var url='/miFeedback/' + id_empleado;%>
         <a href="./" id="regresar" name="regresar" class="btn btn-dark"> Regresar </a>
         <% } %>
      </div>
   </div>
</body>

<%- include('includes/foot.ejs') %>