<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i=0; i < rolesA.length; i++) { %> 
   <% if (rolesA[i].idPrivilegio==1) { %>
      <%- include('includes/sideMentorados.ejs') %>
      <% } %>  
      <% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i=0; i < rolesA.length; i++) { %>
   <% if (rolesA[i].idPrivilegio==2) { %>
      <%- include('includes/sideAgregarE.ejs') %>
      <% } %>
      <% } %>

<%- include('includes/sidenavFin.ejs') %>

<div class="container px-13">
   <div class="space2">
      <h2><strong> Generar Cuestionarios </strong></h2>
      <hr class="style17">
      <div class="container px-8">
         <div class="row justify-content-md-center">
            <div class="col-sm-7">
               <br>
               <form id="form1" name="form1" action="/feedback/generarFormato" method="POST">
                  <div class="input-group has-validation mb-3">
                     <span class="input-group-text" id="basic-addon1">Nombre del Cuestionario</span>
                     <input type="text" class="form-control" name="nombreCuestionario" id="nombreCuestionario"
                        placeholder="Cuestionario1" aria-describedby="invalidNameHelp" required>
                     <div id="invalidNameHelp" class="invalid-feedback">
                        Es necesario ingresar el nombre del cuestionario para continuar
                     </div>
                  </div>
                  <br>

                  <div class="row justify-content-md-center">
                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputDimension">Dimensi처n</label>
                           <select class="form-select" name="inputDimension" id="inputDimension" required>
                              <option value="" disabled selected>Selecciona una dimensi처n</option>
                              <% for (let dimension of dimensiones) { %>
                              <option value="<%= dimension.idDimension %>">
                                 <%= dimension.nombre %>
                              </option>
                              <% } %>
                           </select>
                           <div class="invalid-feedback">Selecciona una dimensi처n</div>
                        </div>
                     </div>
                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputNivel">Nivel</label>
                           <select class="form-select" name="inputNivel" id="inputNivel" required>
                              <option value="" disabled selected>Selecciona un nivel</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                              <option value="4">4 </option>
                              <option value="5">5 </option>
                           </select>
                           <div class="invalid-feedback">Selecciona un nivel</div>
                        </div>
                     </div>
                  </div>
                  <div id="buttons" class="d-flex flex-row-reverse">
                     <div class="p-2">
                        <input href="#" type="submit" class="btn btn-dark" id="button1" value="Continuar">
                     </div>
                     <div id="cancel" class="p-2">
                        <a class="btn btn-outline-dark" href="/feedback"> Cancelar </a>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<style>
   select[readonly] {
      /*Simular campo inativo - Sugest찾o @GabrielRodrigues*/
      pointer-events: none;
      touch-action: none;
   }
</style>
<%- include('includes/foot.ejs') %>
