<!-- Partes que siempre aparecen en el navbar -->
<%- include('includes/sidenavsup.ejs') %>

  <!-- Para que aparezca Mis Mentorados -->
  <% for (i=0; i < rolesA.length; i++) { %>
    <% if (rolesA[i].idPrivilegio==1) { %>
      <%- include('includes/sideMentorados.ejs') %>
        <% } %>
          <% } %>

            <!-- Para que aparezca Empleados del chapter -->
            <% for (i=0; i < rolesA.length; i++) { %>
              <% if (rolesA[i].idPrivilegio==2) { %>
                <%- include('includes/sideAgregarE.ejs') %>
                  <% } %>
                    <% } %>

                      <!-- Final de la nav-->
                      <%- include('includes/sidenavFin.ejs') %>

                  

                
                    <div class='container' style=" width: 90%; text-align: justify;">

                      <div>
                        <br>
                        <h3 style="text-align:justify; font-size:x-large;"><a href="/solicitudes" style="text-decoration:none; color:rgb(72, 72, 206)" onclick="alertaCancelado();"> Solicitudes</a><strong> - Cuestionario de Feedback para <%= preguntasC[0].nombre %>
                          <%= preguntasC[0].apellidoP %>
                            <%= preguntasC[0].apellidoM %></strong></h3>
                        <hr class="style17">
                      </div>

                      <div class='container' style=" width: 90%; text-align: justify;">
                      <form id = 'FormularioGeneral' method="POST"  onsubmit="return submitForm(this);">
                        <div class="card">
                          <h4 class="card-header" style="font-size:larger;">Preguntas de Craft</h4>
                          <div class="card-body">
                            
                            <% var nombre = 1 %>
                
                              <% for (let pregunta of preguntasC) { %>
                                <h5 id = "<%= pregunta.idPregunta %>">
                                  <%= pregunta.pregunta %>
                                </h5>
                                <% if (pregunta.idTipo == 1) { %>
                                <div class="form-check form-check-inline">
                                 <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="1" required>
                                  <label class="form-check-label" for="<%= pregunta.idPregunta %>">1</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                    value="2">
                                  <label class="form-check-label" for="<%= pregunta.idPregunta %>">2</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                    value="3">
                                  <label class="form-check-label" for="<%= pregunta.idPregunta %>">3</label>
                                </div>
                             
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                    value="4">
                                  <label class="form-check-label" for= "<%= pregunta.idPregunta %>">4</label>
                                </div>
                           
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                    value="5">
                                  <label class="form-check-label" for="<%= pregunta.idPregunta %>">5</label>
                                </div>
                                <br><br>
                                <% } else { %>
                                  <div class="mb-3">
                                    <textarea class="form-control" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>" rows="3"></textarea>
                                  </div>
                                  <br><br>
                                <% }  %>
                                <% nombre ++  %>
              
                                <% } %>
                          </div>
                        </div>
                        <br>
                
                        <div class="card">
                          <h4 class="card-header" style="font-size:larger;">Preguntas de People</h4>
                          <div class="card-body">
                
                            <% for (let pregunta of preguntasP) { %>
                              <h5 id = "<%= pregunta.idPregunta %>">
                                <%= pregunta.pregunta %>
                              </h5>
                              <% if (pregunta.idTipo == 1) { %>
                              <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                value="1" required>
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="2">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="3">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">3</label>
                              </div>
                           
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="4">
                                <label class="form-check-label" for= "<%= pregunta.idPregunta %>">4</label>
                              </div>
                         
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="5">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">5</label>
                              </div>
                              <br><br>
                              <% } else { %>
                                <div class="mb-3">
                                  <textarea class="form-control" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>" rows="3"></textarea>
                                </div>
                                <br><br>
                              <% }  %>
                              <% nombre ++  %>
            
                              <% } %>
                          </div>
                        </div>
                        <br>
                
                        <div class="card">
                          <h4 class="card-header" style="font-size:larger;">Preguntas de Business</h4>
                          <div class="card-body">
                
                            <% for (let pregunta of preguntasB) { %>
                              <h5 id = "<%= pregunta.idPregunta %>">
                                <%= pregunta.pregunta %>
                              </h5>
                              <% if (pregunta.idTipo == 1) { %>
                              <div class="form-check form-check-inline">
                               <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                value="1" required>
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">1</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="2">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">2</label>
                              </div>
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="3">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">3</label>
                              </div>
                           
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="4">
                                <label class="form-check-label" for= "<%= pregunta.idPregunta %>">4</label>
                              </div>
                         
                              <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>"
                                  value="5">
                                <label class="form-check-label" for="<%= pregunta.idPregunta %>">5</label>
                              </div>
                              <br><br>
                              <% } else { %>
                                <div class="mb-3">
                                  <textarea class="form-control" name="<%= nombre  %>" id="<%= pregunta.idPregunta %>" rows="3"></textarea>
                                </div>
                              <% }  %>
                              <% nombre ++  %>
            
                              <% } %>
                          </div>
                        </div>
                        <br>
                        

                        <hr class="style17">
                        <a href="/solicitudes"><button type="button" onclick="alertaCancelado();" class="btn btn-outline-dark" style="margin-right: 590px; margin-left: 20px;">Cancelar</button></a>
                        <button value="submit" class="btn btn-secondary" >Enviar</button>
                
                      </form>
                      

                      <script>
                        function alertaCancelado() {  
                            alert("Las respuestas no serán guardadas")
                        }
                        
                        function submitForm() {
                            return confirm('¿Está de acuerdo con las respuestas? No se podrán modificar');
                          }

                          function submitEmpleado() {
                            return alert('Se agregó al empleado correctamente');
                          }
                    </script>

                      </div>

                
                    </div>
                
                
                
                  </body>
                  
                
                <%- include('includes/foot.ejs') %>