<!-- Partes que siempre aparecen en el navbar -->
<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 1) { %> 
  <%- include('includes/sideMentorados.ejs') %>
  <% } %>
<% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 2) { %> 
  <%- include('includes/sideAgregarE.ejs') %>
  <% } %>
<% } %>

<!-- Final de la nav-->
<%- include('includes/sidenavFin.ejs') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<body>

  
  <div class="container px-13">
    <div class="space2">
      <h2><strong>Mi Chapter</strong></h2>
      <hr class="style17">


<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <h><h5 style="text-align: center;">¿Cómo va el progreso de recolección de feedback?</h5></b>
        </div>
        <div class="card-body">
          <p class="card-text"><canvas id="myChart" style="width:100%;max-width:600px"></canvas></p>
        </div>
      </div>
    </div>


<script>


fetch('/miChapter/feedback', {
         method: 'GET',
         headers: {
            'Content-Type': 'application/json',
            //'csrf-token': csrf
         }
      }).then(result => {
         return result.json();
      }).then(solicitudes => {


        console.log(solicitudes)
        console.log(solicitudes[0].NombrePeriodo);

        var respondidas = 0;
        var sin_responder = 0;

      for(let sol in solicitudes){

        if(solicitudes[sol].estatus == 1){
          respondidas ++;
         
        }else{
          sin_responder ++;
        }


      }
        

    var xValues = ["Solicitudes sin responder", "Solicitudes respondidas"];
    var yValues = [sin_responder, respondidas];
    var barColors = [
      //"#D4507C",
      "#E25287",
      "#3136B2",
      //"rgb(39, 94, 179)",
    ];

    new Chart("myChart", {
      type: "doughnut",
      //type: "pie",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        title: {
          display: true,
          text: ["Feedback periodo -" + solicitudes[0].NombrePeriodo,  "Total de solicitudes: " + solicitudes.length]
        },
        tooltips: {
          enabled: true
        },
        plugins: {
          datalabels: {
            formatter: (value) => {

              let percentage = (value * 100 / solicitudes.length).toFixed(2) + "%";
              return percentage;


            },
          color: '#fff',
        }
      }
        
      }
    });

  }).catch(err => {
         console.log(err);
  });

</script>

</div>
</div>
    </div>
  </div>
  

 
 <!-- jQuery --> 
 
 <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>    
 
 <!-- Chart JS -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js" integrity="sha256-JG6hsuMjFnQ2spWq0UiaDRJBaarzhFbUxiUTxQDA9Lk=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js" integrity="sha256-J2sc79NPV/osLcIpzL3K8uJyAD7T5gaEFKlLDM18oxY=" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" integrity="sha256-CfcERD4Ov4+lKbWbYqXD6aFM9M51gN4GUEtDhkWABMo=" crossorigin="anonymous"></script>
 <script type="text/javascript" src="js/datos.js"></script>

</body>

<%- include('includes/foot.ejs') %>