<!------------------- Navbar -------------------->
<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 1) { %> 
  <%- include('includes/sideMentorados.ejs') %>
  <% } %>
<% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 2) { %> 
  <%- include('includes/sideAgregarE.ejs') %>
  <% } %>
<% } %>

<!---------------- Fin Navbar -------------------->
<%- include('includes/sidenavFin.ejs') %>

<body>
    <div class="space">
        <h2><strong>Mi Feedback</strong></h2>
        <hr class="style17">

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Periodo
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <% for (let periodo of periodos) { %>
            <li><a class="dropdown-item" href="#"><%= periodo.NombrePeriodo %> <%= periodo.anio %></a></li>
            <% } %>
          </ul>
        </div> <br>

        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Retroalimentación -&nbsp;<strong><%= periodos[0].NombrePeriodo %> <%= periodos[0].anio %></strong>
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <ul class="list-group">
                  <% if (retroalimentaciones.length > 0) { %>
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col" style="width:25%">Nombre</th>
                        <th scope="col" style="width:10%">Craft</th>
                        <th scope="col" style="width:10%">People & Business</th>
                        <th scope="col" style="width:10%">Commercial & Costume</th>
                        <th scope="col" style="width:35%">Retroalimentación</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for (let retro of retroalimentaciones) { %>
                      <tr>
                          <td style="width:30px;"><%= retro.nombre %> <%= retro.apellidoP %></td>
                          <td>4</td>
                          <td>4</td>
                          <td>4</td>
                          <td><button type="button" class="btn btn-dark">Detalle</button></td>                                         
                      </tr>
                      <% } %> 
                    </tbody>
                  </table>
                  <% } %> 
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</body>

<%- include('includes/foot.ejs') %>