<%- include('includes/sidenavsup.ejs') %>

   <!-- Para que aparezca Mis Mentorados -->
   <% for (i=0; i < rolesA.length; i++) { %>
      <% if (rolesA[i].idPrivilegio==1) { %>
         <%- include('includes/sideMentorados.ejs') %>
            <% } %>
               <% } %>

                  <!-- Para que aparezca Empleados del chapter -->
                  <% for (i=0; i < rolesA.length; i++) { %>
                     <% if (rolesA[i].idPrivilegio==2) { %>
                        <%- include('includes/sideAgregarE.ejs') %>
                           <% } %>
                              <% } %>

                                 <%- include('includes/sidenavFin.ejs') %>

      <h2 id="principal"> Modificando Formatos de Evaluación</h2>
      <br><br>
      <div class="container px-8">
         <div class="row justify-content-md-center">
            <div class="col-sm-7">

               <form id="form1" class="was-validated">


                  <!-- !-----------------------------------------Apartado de Dimension en la vista   !----------------------------------------- -->

                  <div class="row justify-content-md-center">
                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputDimension">Dimensión</label>

                           <select class="form-select" id="inputDimension" required aria-label="select example">
                              <option value="" disabled selected>Selecciona una dimensión</option>
                              <% for (let dimension of dimensiones) { %>
                                 <option value="<%= dimension.idDimension %>">
                                    <%= dimension.nombre %>
                                 </option>
                                 <% } %>
                           </select>
                           <div class="invalid-feedback">Selecciona una dimensión</div>
                        </div>
                     </div>

                     <!-- ----------------------------------------------------------------------------- -->

                     <div class="col-sm-6">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="inputNivel">Nivel</label>
                           <select class="form-select" id="inputNivel" required aria-label="select example">
                              <option value="" disabled selected>Selecciona un nivel</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                              <option value="4">4 </option>
                              <option value="5">5 </option>
                           </select>
                           <div class="invalid-feedback">Selecciona un nivel</div>
                        </div>
                     </div>
                  </div>
                  <br>

                  <div class="row justify-content-md-end">
                     <div class="col-sm-2 align-self-end">

                        <a href="#" class="btn btn-primary" id="Continuar1">Continuar</a>
                     </div>
                  </div>
                  <!-- ----------------------------------------------------------------------------- -->


                  <div class="row justify-content-md-center">
                     <div id="inputCuestionario_Modifi" class=" col-sm-10">
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="nombreCuestionario">Nombre del cuestionario</label>
                           <select class="form-select" id="nombreCuestionario" required aria-label="select example">
                           </select>
                           <div class="invalid-feedback">Selecciona un cuestionario existente </div>
                        </div>
                        <div class="row justify-content-md-end">
                           <div class="col-sm-2 align-self-end">
                              <a class="btn btn-primary" id="Continuar2" role="button">Siguiente </a>
                           </div>
                        </div>
                     </div>
                     <br>
                     <br>
                     <!-- ----------------------------------------------------------------------------- -->


                     <div id="Pregunta_Cuestionario" class="col-sm-12">
                        <hr>
                        <div class="input-group mb-3">
                           <label class="input-group-text" for="Pregunta_Cuest">Pregunta del
                              cuestionario</label>
                           <select class="form-select" id="Pregunta_Cuest" required aria-label="select example">


                           </select>

                           <div class="invalid-feedback">Selecciona una pregunta existente </div>
                        </div>
                     </div>
                  </div>




                  <!-- !-----------------------------------------Apartado de Dimension en la vista   !----------------------------------------- -->


                  <br>


                  <div class="d-flex flex-row-reverse">
                     <div class="p-2">
                        <input class="btn btn-primary" type="submit" id="Enviar" value="Enviar">
                     </div>
                  </div>




                  <div class="form" id="myForm">
                  </div>
            </div>
         </div>
         </body>
         <script>



            // ---------------------------Funciones de AJAX---------------------------

            document.getElementById("Enviar").style.display = "none";
            document.getElementById("inputCuestionario_Modifi").style.display = "none";
            document.getElementById("Pregunta_Cuestionario").style.display = "none";

            // document.getElementById("pregunta_nueva").style.display = "none";
            // document.getElementById("pregunta1").disabled = true;

            // document.getElementById("button3").style.display = "none";
            // document.getElementById("pregunta_nueva2").style.display = "none";




            document.getElementById("Continuar1").onclick = () => {
               // let nombre = document.getElementById("nombreCuestionario").value;
               let dimension = document.getElementById("inputDimension").value;
               let nivel = document.getElementById("inputNivel").value;

               console.log("nivel: ", nivel);
               console.log("dimension: ", dimension);



               if (dimension != '' && nivel != '') {
                  console.log("hola");
                  // document.getElementById("pregunta_nueva").style.display = "block";
                  document.getElementById("Enviar").style.display = "block";
                  document.getElementById("inputCuestionario_Modifi").style.display = "block";
                  // document.getElementById("Pregunta_Cuestionario").style.display = "block";
                  // document.getElementById("nombreCuestionario").setAttribute("readonly", "readonly");
                  document.getElementById("inputDimension").setAttribute("readonly", "readonly");
                  document.getElementById("inputNivel").setAttribute("readonly", "readonly");
                  document.getElementById("Continuar1").style.visibility = "hidden";
                  //! Eliminar ratos de funcion
                  // document.getElementById("Enviar").style.visibility = "visible";
                  despliega_cuestionario('nombreCuestionario'); //! Se depliegan todos los cuestionarios dependiendo el nivel y dimension
                  console.log('t');
               }

            }

            document.getElementById("Continuar2").onclick = () => {
               let dimension = document.getElementById("inputDimension").value;
               let nivel = document.getElementById("inputNivel").value;
               let cuestionario = document.getElementById("nombreCuestionario").value;

               console.log("nivel: ", nivel);
               console.log("dimension: ", dimension);
               console.log("cuestionario: ", cuestionario);



               if (dimension != '' && nivel != '') {
                  console.log("hola");
                  document.getElementById("Enviar").style.display = "block";

                  document.getElementById("Pregunta_Cuestionario").style.display = "block";
                  document.getElementById("inputDimension").setAttribute("readonly", "readonly");
                  document.getElementById("inputNivel").setAttribute("readonly", "readonly");
                  document.getElementById("inputCuestionario_Modifi").setAttribute("readonly", "readonly");
                  document.getElementById("Continuar1").style.visibility = "hidden";

                  //! Se hace una eliminación de los botones 
                  document.getElementById("Enviar").style.visibility = "visible";
                  despliega_preguntas('Pregunta_Cuest');
                  console.log('t');
               }

            }

            const despliega_cuestionario = (id) => {
               const nivel = document.getElementById('inputNivel').value;
               const dimension = document.getElementById('inputDimension').value;
               console.log("despliega nivel", nivel);
               console.log("despliega dimension", dimension);
               console.log("despliega nivel", nivel);

               fetch('/feedback/buscarCuestionario/' + nivel + '/' + dimension, {
                  method: 'GET',
                  headers: {
                     'Content-Type': 'application/json',
                  }
               }).then(result => {
                  return result.json();
               }).then(data => {


                  let respuesta = '';
                  respuesta += '<option value ="" disabled selected> Seleccione el nombre del cuestionario a modificar </option>';

                  for (let d of data) {
                     respuesta += '<option value="' + d.nombre + '">' + d.nombre + '</option>';
                  }

                  document.getElementById('nombreCuestionario').innerHTML = respuesta;
                  document.getElementById(id).innerHTML = respuesta;

               }).catch(err => {
                  console.log(err);

               });
            };



            const despliega_preguntas = (id) => {
               const nivel = document.getElementById('inputNivel').value;
               const dimension = document.getElementById('inputDimension').value;
               console.log(nivel);

               fetch('/feedback/buscarPregunta/' + nivel + '/' + dimension, {
                  method: 'GET',
                  headers: {
                     'Content-Type': 'application/json',
                  }
               }).then(result => {
                  return result.json();
               }).then(data => {

                  let respuesta = '';
                  respuesta += '<option value ="" disabled selected> Seleccione la pregunta del cuestionario a modificar </option>';

                  for (let d of data) {
                     respuesta += '<option value="' + d.idPregunta + '">' + d.pregunta + '</option>';
                  }
                  // for (let d of data) {
                  //    respuesta += '<option value="' + d.idPregunta + '"';
                  //    if (document.getElementById("pregunta0").value == d.idPregunta || document.getElementById("pregunta1").value == d.idPregunta || document.getElementById("pregunta2").value == d.idPregunta) {
                  //       respuesta += ' disabled';
                  //    }
                  //    respuesta += '>' + d.pregunta + '</option>';
                  // }
                  document.getElementById('Pregunta_Cuest').innerHTML = respuesta;
                  document.getElementById(id).innerHTML = respuesta;

               }).catch(err => {
                  console.log(err);

               });
            };



         </script>

         <style>
            select[readonly] {
               /*Simular campo inativo - Sugestão @GabrielRodrigues*/
               pointer-events: none;
               touch-action: none;
            }
         </style>


         <%- include('includes/foot.ejs') %>