<%- include('includes/sidenavsup.ejs') %>
<!-- Para que aparezca Mis Mentorados -->
<% for (i=0; i < rolesA.length; i++) { %>
    <% if (rolesA[i].idPrivilegio==1) { %>
        <%- include('includes/sideMentorados.ejs') %>
            <% } %>
                <% } %>

                    <!-- Para que aparezca Empleados del chapter -->
                    <% for (i=0; i < rolesA.length; i++) { %>
                        <% if (rolesA[i].idPrivilegio==2) { %>
                            <%- include('includes/sideAgregarE.ejs') %>
                                <% } %>
                                    <% } %>

                                        <%- include('includes/sidenavFin.ejs') %>

<div class="container px-13">
    <div class="space2">
        <h2><strong>Periodos de Evaluación </strong></h2>
        <hr class="style17"> 


        <div class="row d-flex justify-content-md-center">
            <div class="col-9">
                <div class="container px-5">
                    <div class="card">
                        <div class="card-header">
                            <h5> Modificar Periodo</h5>
                        </div>
                        <div class="card-body">

                                <form id="formPeriodo" class="was-validated" action="/Periodo/modificarPeriodo" method="POST">
                                    <input type="hidden" id="id_p" name="id_p" value="<%=ultimo_periodo[0].idPeriodo%>">
                                    <div class="row d-flex justify-content-md-between">
                                        <br>
                                        <h4> Periodo: <%=ultimo_periodo[0].NombrePeriodo%></h4>
                                        <br>
                                        <br>
                    
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                            Fecha inicio:   &nbsp           
                                                <br> <input type="date"style = 'border-radius: 10px' id="inicioFecha" name="inicioFecha" required
                                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="<%= ultimo_periodo[0].fecha_inicial %>"  >
                                                </label>
                                            </div>
                                            <br>

                                            <div class="d-flex justify-content-center">
                                                <div class="p-2">
                                                    <a href="/Periodo" style="margin:auto" class="btn btn-outline-dark"> Cancelar </a>
                                                </div>
                                            </div>

                                        </div>
                    
                                        <div class="col-sm-6">
                                            <div class="input-group mb-3">
                                            Fecha fin:  &nbsp
                                                <br> <input type="date" style = 'border-radius: 10px' id="finFecha" name="finFecha" required
                                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value="<%= ultimo_periodo[0].fecha_final %>">
                                                </label>
                                            </div>
                                            <br>
                                            <div class="d-flex justify-content-center">
                                                <div class="p-2">
                                                    <button style="margin:auto"
                                                    class="btn btn-dark" type="submit" id="buttonRegistrar">Modificar</button>
                                                </div>
                                            </div>
                                            <br>
                                        </div> 
                                    </div>
                                </form>
                        </div>
                    </div>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>

<script>

    let nivelp;

    document.getElementById("buttonRegistrar").onclick = () => {


      /////////////////////////////////

        hoy = fechaActual();

        let fecha_inicial = document.getElementById("inicioFecha").value;
        let fecha_final = document.getElementById("finFecha").value;


        //SEPARAR FECHAS
        let anio_periodo = parseInt(String(fecha_final).substring(0, 4));
        let mes_inicioPeriodo = parseInt(String(fecha_inicial).substring(5, 7));
        let mes_finPeriodo = parseInt(String(fecha_final).substring(5, 7));


        fecha_final = fecha_final.toString();
        console.log("String fecha" + fecha_final);

        //ASIGNARLE NOMBRE AL MES 
        const nombreMesFinal = NombreMes(mes_finPeriodo);
        const nombreMesInicio = NombreMes(mes_inicioPeriodo);


        nombre_periodo = nombreMesInicio + ' - ' + nombreMesFinal;



        if (fecha_inicial != '' && fecha_final != '') {


            if( fecha_inicial < hoy && fecha_final < hoy ) {
                console.log('fecha hoy' +  hoy);
                let respuesta = alert('No puede crear periodos en el pasado. Verifique sus fechas');  
                location.reload(); 
                return false;
            }


            else if (fecha_inicial >= fecha_final ){
                let respuesta = alert('Verifique sus fechas');  
                location.reload(); 
                return false;
            }

            else{
                
                document.getElementById("inicioFecha").setAttribute("readonly", "readonly");
                document.getElementById("finFecha").setAttribute("readonly", "readonly");


                let PeriodoAlerta = 'Periodo de evaluación modificado.';
                let respuesta = alert(PeriodoAlerta);
               
                return true;
            }

        }

    }
    



    function NombreMes(mes) {

        let meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        nombreMes = meses[mes - 1];
        return nombreMes;
    }

    function fechaActual(){

        let hoy = new Date();
        let dd = hoy.getDate();
        let mm = hoy.getMonth()+1;
        let yyyy = hoy.getFullYear();


        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        } 

        hoy = yyyy+'-'+mm+'-'+dd; //FECHA DEL DÍA ACTUAL

        return hoy;
        console.log(hoy);
    }


</script>

<%- include('includes/foot.ejs') %>