<%- include('includes/sidenavsup.ejs') %>

    <!-- Para que aparezca Mis Mentorados -->
<% for (i=0; i < rolesA.length; i++) { %>
    <% if (rolesA[i].idPrivilegio==1) { %>
        <%- include('includes/sideMentorados.ejs') %>
    <% } %>
<% } %>

                        <!-- Para que aparezca Empleados del chapter -->
<% for (i=0; i < rolesA.length; i++) { %>
    <% if (rolesA[i].idPrivilegio==2) { %>
        <%- include('includes/sideAgregarE.ejs') %>
    <% } %>
<% } %>

<%- include('includes/sidenavFin.ejs') %>

<<<<<<< HEAD
            <h2 id="principal">Generar periodos de evaluación</h1>
            <br>
            
            <a class="btn btn-outline-secondary" href="/Periodo/ingresarPeriodos" role="button">Generar</a>
            <br><br>
=======
<div class="container px-13">
    <div class="space2">
        <h2><strong> Periodos de Evaluación </strong></h2>
        <hr class="style17"> 
        <a class="btn btn-outline-secondary" href="/Periodo/ingresarPeriodos" role="button">Generar</a>
        <br><br>
    </div>
</div>
>>>>>>> 091c1b5e03b7434c69592f24c8b9cd9465db43f4
      

<%- include('includes/foot.ejs') %></br>