<%- include('includes/sidenavsup.ejs') %>
<!-- Para que aparezca Mis Mentorados -->
<% for (i=0; i < rolesA.length; i++) { %>
    <% if (rolesA[i].idPrivilegio==1) { %>
        <%- include('includes/sideMentorados.ejs') %>
            <% } %>
                <% } %>

                    <!-- Para que aparezca Empleados del chapter -->
                    <% for (i=0; i < rolesA.length; i++) { %>
                        <% if (rolesA[i].idPrivilegio==2) { %>
                            <%- include('includes/sideAgregarE.ejs') %>
                                <% } %>
                                    <% } %>

                                        <%- include('includes/sidenavFin.ejs') %>

<div class="container px-13">
    <div class="space2">
        <h2><strong>Periodos de Evaluación </strong></h2>
        <hr class="style17"> 
        
        <div class="container px-5">
            <div class="col-sm-7">
                <form id="formPeriodo" class="was-validated" action="/Periodo/ingresarPeriodos" method="POST">
                    <div class="row justify-content-md-center">
    
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                               Fecha inicio:   &nbsp           
                                <br> <input type="date"style = 'border-radius: 10px' id="inicioFecha" name="inicioFecha" required
                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"  >
                                </label>
                            </div>
                            <br>
    
                            <a href="/home" style="margin:auto" class="btn btn-dark"> Cancelar </a>
                        </div>
    
                        <div class="col-sm-6">
                            <div class="input-group mb-3">
                               Fecha Fin:  &nbsp
                                <br> <input type="date" style = 'border-radius: 10px' id="finFecha" name="finFecha" required
                                    pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                                </label>
                            </div>
                            <br>
                            <div class="row justify-content-md-end">
                                <div class="col-sm-4 align-self-end">
                                    <button style="margin:auto"
                                    class="btn btn-dark" type="submit" id="buttonRegistrar">Generar</button>
                                </div>
                            </div>
                        </div>
                
    
                </form>
            </div>
        </div>

        <br><br>
    </div>
</div>

<script>

    let nivelp;

   // document.getElementById("myForm").style.display = "none";
    document.getElementById("buttonRegistrar").onclick = () => {


      /////////////////////////////////

        hoy = fechaActual();

        let fecha_inicial = document.getElementById("inicioFecha").value;
        let fecha_final = document.getElementById("finFecha").value;


        //SEPARAR FECHAS
        let anio_periodo = parseInt(String(fecha_final).substring(0, 4));
        let mes_inicioPeriodo = parseInt(String(fecha_inicial).substring(5, 7));
        let mes_finPeriodo = parseInt(String(fecha_final).substring(5, 7));


        fecha_final = fecha_final.toString();
        console.log("String fecha" + fecha_final);

        //ASIGNARLE NOMBRE AL MES 
        const nombreMesFinal = NombreMes(mes_finPeriodo);
        const nombreMesInicio = NombreMes(mes_inicioPeriodo);


        // console.log("random");
        // console.log("mes final " + nombreMesFinal);
        // console.log("mes inicio " + nombreMesInicio);
        // console.log(anio_periodo);
        // console.log(mes_finPeriodo);
        // console.log(mes_inicioPeriodo);

        nombre_periodo = nombreMesInicio + ' - ' + nombreMesFinal;



        if (fecha_inicial != '' && fecha_final != '') {


            if( fecha_inicial < hoy && fecha_final < hoy ) {
                console.log('fecha hoy' +  hoy);
                let respuesta = alert('No puede crear periodos en el pasado. Verifique sus fechas');  
                location.reload(); 
                return false;
            }


            else if (fecha_inicial >= fecha_final ){
                let respuesta = alert('Verifique sus fechas');  
                location.reload(); 
                return false;
            }

            else{
                
                document.getElementById("inicioFecha").setAttribute("readonly", "readonly");
                document.getElementById("finFecha").setAttribute("readonly", "readonly");


                let PeriodoAlerta = 'Periodo de evaluación ' + nombre_periodo + ' generado.';
                let respuesta = alert(PeriodoAlerta) //' <div class="alert alert-success" role="alert"> ' + PeriodoAlerta + '  </div> ';
                //document.getElementById('formPeriodo').innerHTML = +respuesta;
               
                return true;
                // document.getElementById("buttonRegistrar").style.visibility = "hidden";  
                // document.getElementById("myForm").style.display = "block";
                //  document.getElementById("buttonRegistrar").style.visibility = "hidden";

                // console.log('Si hay fechas');
            }

        }

    }


    // //VERIFICAR QUE LAS FECHAS SE GUARDEN EN LA CONSOLA CUANDO HAY UN CHANGE 

    // document.getElementById("inicioFecha").onchange = () => {
    //     let fecha_inicial = document.getElementById("inicioFecha").value;
    //   // console.log(fecha_inicial);

    // }
    // document.getElementById("finFecha").onchange = () => {
    //     let fecha_final = document.getElementById("finFecha").value;
    //  //   console.log(fecha_final);

   // }
    



    function NombreMes(mes) {
       // console.log('Nombre de mes para ' + mes + ' prueba');

        let meses = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
        nombreMes = meses[mes - 1];
        return nombreMes;
    }

    function fechaActual(){

        //GENERAR LA FECHA ACTUAL 

        let hoy = new Date();
        let dd = hoy.getDate();
        let mm = hoy.getMonth()+1;
        let yyyy = hoy.getFullYear();


        //formato para generar formato 00 en día y mes
        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        } 

        hoy = yyyy+'-'+mm+'-'+dd; //FECHA DEL DÍA ACTUAL

        return hoy;
        console.log(hoy);
    }


</script>

<%- include('includes/foot.ejs') %></br>