<!-- Partes que siempre aparecen en el navbar -->
<%- include('includes/sidenavsup.ejs') %>

<!-- Para que aparezca Mis Mentorados -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 1) { %> 
  <%- include('includes/sideMentorados.ejs') %>
  <% } %>
<% } %>

<!-- Para que aparezca Empleados del chapter -->
<% for (i = 0; i < rolesA.length; i++) {  %>
  <% if (rolesA[i].idPrivilegio == 2) { %> 
  <%- include('includes/sideAgregarE.ejs') %>
  <% } %>
<% } %>

<!-- Final de la nav-->
<%- include('includes/sidenavFin.ejs') %>

  
<div class="container px-13">
    <div class="space2">
        <h2><strong>Tutoriales y Manuales guía</strong></h2>
        <hr class="style17">

    </div>
</div>

<div class="container">

    <body>

        <!-- Documentos  -->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center;font-size: larger;">Guía rápida</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <a style="text-decoration: none;" href="GuiaRapida.pdf">Haz clic aquí para ver el PDF de Guía Rápida</a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center; font-size: larger;">Manual de Usuario</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <a  style="text-decoration: none;" href="ManualUsuario.pdf">Haz clic aquí para ver el Manual de Usuario</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>

        <!-- Sección 1 -->

        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center;font-size: larger;">¿Cómo consultar mi feedback?</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <iframe width="450" height="300" src="https://www.youtube.com/embed/c1NXGeGdCtQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a style="text-decoration: none;" href="https://youtu.be/c1NXGeGdCtQ">Haz clic aquí si no se visualiza correctamente el video</a>
                        </div>
                    </div>
                </div>
            </div>
        



            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center; font-size: larger;">¿Cómo enviar una solicitud de feedback?</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <iframe width="450" height="300" src="https://www.youtube.com/embed/R6N1FS9UvXQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a style="text-decoration: none;" href="https://youtu.be/R6N1FS9UvXQ">Haz clic aquí si no se visualiza correctamente el video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <!-- Sección 2 -->
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center;font-size: larger;">¿Cómo responder a una solicitud de feedback?</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <iframe width="450" height="305" src="https://www.youtube.com/embed/6uyw7QioLe4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a style="text-decoration: none;" href="https://youtu.be/6uyw7QioLe4">Haz clic aquí si no se visualiza correctamente el video</a>
                        </div>
                    </div>
                </div>
            </div>
        



            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h>
                            <h5 style="text-align: center; font-size: larger;">¿Cómo ver a mis mentorados asignados?</h5></b>
                    </div>
                    <div class="card-body">
                        <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                        <div style="text-align: center;">
                            <iframe width="450" height="300" src="https://www.youtube.com/embed/N4PkgDo6GM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <a style="text-decoration: none;" href="https://youtu.be/N4PkgDo6GM4">Haz clic aquí si no se visualiza correctamente el video</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

                <!-- Sección 3 -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h>
                                    <h5 style="text-align: center;font-size: larger;">¿Cómo agregar, modificar o eliminar a mentores o mentorados?</h5></b>
                            </div>
                            <div class="card-body">
                                <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                                <div style="text-align: center;">
                                    <iframe width="450" height="300" src="https://www.youtube.com/embed/asaoHfQnzBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <a style="text-decoration: none;" href="https://youtu.be/asaoHfQnzBI">Haz clic aquí si no se visualiza correctamente el video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
        
        
        
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h>
                                    <h5 style="text-align: center; font-size: larger;">¿Cómo agregar, modificar o eliminar a empleados del Chapter?</h5></b>
                            </div>
                            <div class="card-body">
                                <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                                <div style="text-align: center;">
                                    <iframe width="450" height="300" src="https://www.youtube.com/embed/Wz2xxUoY5Ck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <a style="text-decoration: none;" href="https://youtu.be/Wz2xxUoY5Ck">Haz clic aquí si no se visualiza correctamente el video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <br>

                  <!-- Sección 4 -->
                  <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h>
                                    <h5 style="text-align: center;font-size: larger;">¿Cómo editar y ver cuestionarios?</h5></b>
                            </div>
                            <div class="card-body">
                                <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                                <div style="text-align: center;">
                                    <iframe width="450" height="300" src="https://www.youtube.com/embed/asaoHfQnzBI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <a style="text-decoration: none;" href="https://youtu.be/asaoHfQnzBI">Haz clic aquí si no se visualiza correctamente el video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
        
        
        
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h>
                                    <h5 style="text-align: center; font-size: larger;">¿Cómo crear o modificar un periodo de feedback?</h5></b>
                            </div>
                            <div class="card-body">
                                <!-- <iframe src="lab23.pdf" width="100%" height="400px"></iframe> -->
                                <div style="text-align: center;">
                                    <iframe width="450" height="300" src="https://www.youtube.com/embed/Vu_EcYB8KUg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    <a style="text-decoration: none;" href="https://youtu.be/Vu_EcYB8KUg">Haz clic aquí si no se visualiza correctamente el video</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        <br>


    </body>
</div>




<!--Footer-->
<%- include('includes/foot.ejs') %>
