<%- include('includes/sidenavsup.ejs') %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <h2>Solicitudes de Feedback- Periodo <%= responder[1].NombrePeriodo %></h2><br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <i class="large material-icons">search</i>  Mis Solicitudes</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="large material-icons">library_books</i>  A evaluar</h5>
              <p class="card-text">
                <ul class="list-group">
                  <!--Para tabla con boostrap-->
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Feedback</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                  <% for (let persona of responder) { %>
                      <td><%= persona.nombre %>  <%= persona.apellidoP %></td>
     
                        <% if (persona.estatus == 1) { %>
                          <td><i class="large material-icons">check</i></td>
                          <td><button type="button" class="btn btn-ms btn-primary" disabled>Responder</button></td>
                        <% } else { %>
                          <td><i class="large material-icons">access_time</i></td>                    
                          <td><a href="/responderFeedback/<%= persona.idEvaluado %>/<%= persona.idPeriodo %> " class="btn btn-primary">Responder</a></td>
                         
                        <% }%>
                    
                      <!-- <button type="button" class="btn btn-lg btn-primary" disabled>Responder</button> -->
                  
                    </tr>
                      <%} %>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div
      
</body>

<%- include('includes/foot.ejs') %>