<%- include('includes/sidenavsup.ejs') %>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <h2>Solicitudes de Feedback- Periodo </h2><br>
    <div class="row">
        <!--------------------------------------  Mis solicitudes ---------------------------------------------->
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"> <i class="large material-icons">search</i>  Mis Solicitudes</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <p>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="1 0 20 20">
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg> 
                    Nueva solicitud
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="col-md-6">
                    <label for="inputState" class="form-label">Nombre de compañero:</label>
                    <select id="inputState" class="form-select">
                      <option selected>Choose...</option>
                      <option>...</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------------------------------------------------------------------------------------------>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><i class="large material-icons">library_books</i>  A evaluar</h5>
              <p class="card-text">
                <ul class="list-group">
                  <!--Para tabla con boostrap-->
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Feedback</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                  <% for (let persona of responder) { %>
                      <td><%= persona.nombre %>  <%= persona.apellidoP %></td>
     
                        <% if (persona.estatus == 1) { %>
                          <td><i class="large material-icons">check</i></td>
                          <td><button type="button" class="btn btn-ms btn-primary" disabled>Responder</button></td>
                        <% } else { %>
                          <td><i class="large material-icons">access_time</i></td>                    
                          <td><a href="/responderFeedback/<%= persona.idEvaluado %>/<%= persona.idPeriodo %> " class="btn btn-primary">Responder</a></td>
                         
                        <% }%>
                    
                      <!-- <button type="button" class="btn btn-lg btn-primary" disabled>Responder</button> -->
                  
                    </tr>
                      <%} %>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div
      
</body>

<%- include('includes/foot.ejs') %>