<%- include('includes/sidenavsup.ejs') %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <h2>Solicitudes de Feedback</h2><br>
    <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header"><i class="large material-icons">search</i>  Mis Solicitudes</h5>
            <div class="card-body">
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header"><i class="large material-icons">library_books</i>  A evaluar</h5>
            <div class="card-body">
                  <!--Para tabla con boostrap-->
                  <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col"></th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Feedback</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                  <% for (let persona of responder) { %>
                      <td> <img src="https://github.com/mdo.png" alt="hugenerd" width="60" height="60" class="rounded-circle"></td>
                      <td><%= persona.nombre %>  <%= persona.apellidoP %> <%= persona.apellidoM %></td>
     
                        <% if (persona.estatus == 1) { %>
                          <td><i class="large material-icons">check</i></td>
                          <td><button type="button" class="btn btn-ms btn-primary" disabled>Responder</button></td>
                        <% } else { %>
                          <td><i class="large material-icons">access_time</i></td>                    
                          <td><a href="/responderFeedback/<%= persona.idEvaluado %>/<%= persona.idPeriodo %> " class="btn btn-primary">Responder</a></td>
                         
                        <% }%>
                    
                      <!-- <button type="button" class="btn btn-lg btn-primary" disabled>Responder</button> -->
                  
                    </tr>
                      <%} %>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div
      
</body>



<%- include('includes/foot.ejs') %>