<%- include('includes/sidenavsup.ejs') %>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<body>
  <!--------------------------------------  Toast ---------------------------------------------->
  <!-- <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>

  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div> -->
  <!---------------------------------------------------------------------------------------------->

  <h2>Solicitudes de Feedback- <i><%= periodo[0].NombrePeriodo %></i></h2><br>
    <div class="row">
        <!--------------------------------------  Mis solicitudes ---------------------------------------------->
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header"><i class="large material-icons">search</i>  Mis Solicitudes</h5>
            <div class="card-body">
                <ul class="list-group">
                      <% if (solicitudes.length > 0) { %>
                        <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">Nombre</th>
                              <th scope="col">Estatus</th>
                            </tr>
                          </thead>
                          <tbody>
                        <% for (let solicitud of solicitudes) { %>
                          <tr>
                            <td style="width:30px;"><%= solicitud.nombre %> <%= solicitud.apellidoP %></td>      
                            <% if (solicitud.estatus == 1) { %>
                              <td style="width:20px;"><i class="large material-icons">check</i></td>
                            <% } else { %>
                              <td style="width:20px;"><i class="large material-icons">access_time</i></td>
                            <% } %>                                      
                          </tr>
                        <% } %> 
                      <% } else { %>
                        <p>Por el momento, no has hecho ninguna solicitud.</p>
                      <% } %> 
                    </tbody>
                  </table>
                </ul>
              </p>

              <!--------------------------------------  Nueva Solicitud ---------------------------------------------->
              <% if ((fecha_i <= fecha) && (fecha_f >= fecha) && (solicitudes.length < 7)) { %>
              <p>
                <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-plus-fill" viewBox="1 0 20 20">
                      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                    </svg> 
                    Nueva solicitud
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <form action="/solicitudes" method="POST">
                    <input id="periodo" name="periodo" type="hidden" value="<%= periodo[0].idPeriodo %>">
                    <div class="row">
                      <div class="col-auto">
                        <select  id="nombre" name="nombre" class="selectpicker" multiple data-live-search="true" title="Selecciona a un compañero">
                          <% for (let empleado of empleados) { %>
                            <option><%= empleado.nombre %> <%= empleado.apellidoP %></option>
                          <% } %>
                        </select>

                        <!-- <select id="inputState" name="inputState" class="form-select" data-live-search="true">
                          <option selected>Selecciona a un compañero</option>
                          <% for (let empleado of empleados) { %>
                            <option><%= empleado.nombre %> <%= empleado.apellidoP %></option>
                          <% } %>
                        </select> -->

                      </div>
                      <div class="col-auto">
                        <button type="submit" class="btn btn-dark">Enviar</button>
                      </div>
                      <div class="col-auto">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          Cancelar
                        </button>
                      </div>  
                    </div>
                  </form> 
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <!--------------------------------------  A evaluar ---------------------------------------------->
        <div class="col-sm-6">
          <div class="card">
            <h5 class="card-header"><i class="large material-icons">library_books</i>  A evaluar</h5>
            <div class="card-body">
                <ul class="list-group">
                  <% if (evaluaciones.length > 0) { %>
                    <table class="table">
                      <thead class="thead-dark">
                        <tr>
                          <th scope="col"></th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Estatus</th>
                          <th scope="col">Feedback</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for (let evaluacion of evaluaciones) { %>
                          <tr>
                          <td> <img src="https://github.com/mdo.png" alt="hugenerd" width="60" height="60" class="rounded-circle"></td>
                          <td><%= evaluacion.nombre %> <%= evaluacion.apellidoP %></td>
      
                          <% if (evaluacion.estatus == 1) { %>
                            <td><i class="large material-icons">check</i></td>
                            <td><button type="button" class="btn btn-ms btn-primary" disabled>Responder</button></td>
                          <% } else { %> 
                            <td><i class="large material-icons">access_time</i></td>                    
                            <td><a href="/responderFeedback/<%= evaluacion.idEvaluado %>/<%= periodo[0].idPeriodo %>" class="btn btn-primary">Responder</a></td>
                          <% } %> 
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  <% } else { %>
                    <p>Todavía no has recibido ninguna solicitud para contestar feedback de otro compañero. Regresa más tarde.</p>
                  <% } %>
            </div>
          </div>
        </div>
      </div>

      <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </symbol>
        <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
        </symbol>
        <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
        </symbol>
      </svg>

      <div class="col-sm-3">
        <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" role="alert">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
        <div>
          Envío de solicitud(es) exitosa
        </div>
        <button class="btn-close" type="button" data-dismiss="alert" aria-label="Close"></button>
      </div>
      </div>

      
</body>

<%- include('includes/foot.ejs') %>